// ------------------------------------------------------------------------------------------

.container {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	display: grid;
	place-content: center;
	background-color: #0d0e13;
	padding: 24px;

	.headline {
		color: #ffffff;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 0.2px;
	}
}

// ------------------------------------------------------------------------------------------
